    Importing Pandas

In [3]:
%config IPCompleter.greedy=True

In [4]:
import pandas as pd

    Creating a Database

In [5]:
df = pd.DataFrame()

In [6]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [7]:
lakers_dict = {
    'first_name' : ['Lebron','Kyle','Lonzo','Brandon','Josh'],
    'last_name' : ['James', 'Kuzma','Ball','Ingram','Hart'],
    'ppg' : [27.4, 18.7, 9.9, 18.3, 7.8],
    'apg' : [8.3, 2.5, 5.4, 3.0, 1.4],
    'rpg' : [8.5, 5.5, 5.3, 5.1, 3.7]
}

In [8]:
df = pd.DataFrame(lakers_dict)

In [9]:
print(df)

  first_name last_name   ppg  apg  rpg
0     Lebron     James  27.4  8.3  8.5
1       Kyle     Kuzma  18.7  2.5  5.5
2      Lonzo      Ball   9.9  5.4  5.3
3    Brandon    Ingram  18.3  3.0  5.1
4       Josh      Hart   7.8  1.4  3.7

In [11]:
df = pd.DataFrame(lakers_dict, index=[1,2,3,4,5])
print(df)

  first_name last_name   ppg  apg  rpg
1     Lebron     James  27.4  8.3  8.5
2       Kyle     Kuzma  18.7  2.5  5.5
3      Lonzo      Ball   9.9  5.4  5.3
4    Brandon    Ingram  18.3  3.0  5.1
5       Josh      Hart   7.8  1.4  3.7

In [12]:
df = pd.DataFrame(lakers_dict, index=['Franchise','PF','PG','SF','SG'])
print(df)

          first_name last_name   ppg  apg  rpg
Franchise     Lebron     James  27.4  8.3  8.5
PF              Kyle     Kuzma  18.7  2.5  5.5
PG             Lonzo      Ball   9.9  5.4  5.3
SF           Brandon    Ingram  18.3  3.0  5.1
SG              Josh      Hart   7.8  1.4  3.7

In [13]:
stats = [['Lebron',4,6], ['Kuzma',2,3], ['Ball',4,4]]

In [15]:
stats_df = pd.DataFrame(stats, columns = ['Player', 'Off Reb','Def Reb'])
print(stats_df)

   Player  Off Reb  Def Reb
0  Lebron        4        6
1   Kuzma        2        3
2    Ball        4        4

In [16]:
rebs = [6,9,11,7,3]

In [17]:
series = pd.DataFrame(rebs, columns=['Lebrons_Rebounds'])

In [18]:
print(series)

   Lebrons_Rebounds
0                 6
1                 9
2                11
3                 7
4                 3

    Reading CSV into DataFrames

In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('../nba-stats-csv/player_info.csv')

In [21]:
df.head(10)

   player_id            player_name season_id
0        920             A.C. Green   1996-97
1        243            Aaron McKie   1996-97
2       1425         Aaron Williams   1996-97
3        768              Acie Earl   1996-97
4        228             Adam Keefe   1996-97
5        154        Adrian Caldwell   1996-97
6        673         Alan Henderson   1996-97
7       1059  Aleksandar Djordjevic   1996-97
8        275          Allan Houston   1996-97
9        947          Allen Iverson   1996-97

In [22]:
df = pd.read_csv('../nba-stats-csv/player_info_no_header.csv', header=None)

In [24]:
df.head(10)

      0                      1        2
0   920             A.C. Green  1996-97
1   243            Aaron McKie  1996-97
2  1425         Aaron Williams  1996-97
3   768              Acie Earl  1996-97
4   228             Adam Keefe  1996-97
5   154        Adrian Caldwell  1996-97
6   673         Alan Henderson  1996-97
7  1059  Aleksandar Djordjevic  1996-97
8   275          Allan Houston  1996-97
9   947          Allen Iverson  1996-97

In [25]:
df = pd.read_csv('../nba-stats-csv/player_info.csv', index_col='player_id')

In [26]:
df.head(10)

                     player_name season_id
player_id
920                   A.C. Green   1996-97
243                  Aaron McKie   1996-97
1425              Aaron Williams   1996-97
768                    Acie Earl   1996-97
228                   Adam Keefe   1996-97
154              Adrian Caldwell   1996-97
673               Alan Henderson   1996-97
1059       Aleksandar Djordjevic   1996-97
275                Allan Houston   1996-97
947                Allen Iverson   1996-97

In [27]:
df = pd.read_csv('../nba-stats-csv/player_general_traditional_per_game_data.csv', usecols=['player_id', 'season_id'])

In [28]:
df.head(10)

   player_id season_id
0        471   1996-97
1        920   1996-97
2        243   1996-97
3       1425   1996-97
4        768   1996-97
5        228   1996-97
6        154   1996-97
7        673   1996-97
8       1059   1996-97
9        275   1996-97