    Importing Pandas

In [3]:
%config IPCompleter.greedy=True

In [4]:
import pandas as pd

    Creating a Database

In [5]:
df = pd.DataFrame()

In [6]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [7]:
lakers_dict = {
    'first_name' : ['Lebron','Kyle','Lonzo','Brandon','Josh'],
    'last_name' : ['James', 'Kuzma','Ball','Ingram','Hart'],
    'ppg' : [27.4, 18.7, 9.9, 18.3, 7.8],
    'apg' : [8.3, 2.5, 5.4, 3.0, 1.4],
    'rpg' : [8.5, 5.5, 5.3, 5.1, 3.7]
}

In [8]:
df = pd.DataFrame(lakers_dict)

In [9]:
print(df)

  first_name last_name   ppg  apg  rpg
0     Lebron     James  27.4  8.3  8.5
1       Kyle     Kuzma  18.7  2.5  5.5
2      Lonzo      Ball   9.9  5.4  5.3
3    Brandon    Ingram  18.3  3.0  5.1
4       Josh      Hart   7.8  1.4  3.7

In [11]:
df = pd.DataFrame(lakers_dict, index=[1,2,3,4,5])
print(df)

  first_name last_name   ppg  apg  rpg
1     Lebron     James  27.4  8.3  8.5
2       Kyle     Kuzma  18.7  2.5  5.5
3      Lonzo      Ball   9.9  5.4  5.3
4    Brandon    Ingram  18.3  3.0  5.1
5       Josh      Hart   7.8  1.4  3.7

In [12]:
df = pd.DataFrame(lakers_dict, index=['Franchise','PF','PG','SF','SG'])
print(df)

          first_name last_name   ppg  apg  rpg
Franchise     Lebron     James  27.4  8.3  8.5
PF              Kyle     Kuzma  18.7  2.5  5.5
PG             Lonzo      Ball   9.9  5.4  5.3
SF           Brandon    Ingram  18.3  3.0  5.1
SG              Josh      Hart   7.8  1.4  3.7

In [13]:
stats = [['Lebron',4,6], ['Kuzma',2,3], ['Ball',4,4]]

In [15]:
stats_df = pd.DataFrame(stats, columns = ['Player', 'Off Reb','Def Reb'])
print(stats_df)

   Player  Off Reb  Def Reb
0  Lebron        4        6
1   Kuzma        2        3
2    Ball        4        4

In [16]:
rebs = [6,9,11,7,3]

In [17]:
series = pd.DataFrame(rebs, columns=['Lebrons_Rebounds'])

In [18]:
print(series)

   Lebrons_Rebounds
0                 6
1                 9
2                11
3                 7
4                 3

    Reading CSV into DataFrames

In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('../nba-stats-csv/player_info.csv')

In [21]:
df.head(10)

   player_id            player_name season_id
0        920             A.C. Green   1996-97
1        243            Aaron McKie   1996-97
2       1425         Aaron Williams   1996-97
3        768              Acie Earl   1996-97
4        228             Adam Keefe   1996-97
5        154        Adrian Caldwell   1996-97
6        673         Alan Henderson   1996-97
7       1059  Aleksandar Djordjevic   1996-97
8        275          Allan Houston   1996-97
9        947          Allen Iverson   1996-97

In [22]:
df = pd.read_csv('../nba-stats-csv/player_info_no_header.csv', header=None)

In [24]:
df.head(10)

      0                      1        2
0   920             A.C. Green  1996-97
1   243            Aaron McKie  1996-97
2  1425         Aaron Williams  1996-97
3   768              Acie Earl  1996-97
4   228             Adam Keefe  1996-97
5   154        Adrian Caldwell  1996-97
6   673         Alan Henderson  1996-97
7  1059  Aleksandar Djordjevic  1996-97
8   275          Allan Houston  1996-97
9   947          Allen Iverson  1996-97

In [25]:
df = pd.read_csv('../nba-stats-csv/player_info.csv', index_col='player_id')

In [26]:
df.head(10)

                     player_name season_id
player_id
920                   A.C. Green   1996-97
243                  Aaron McKie   1996-97
1425              Aaron Williams   1996-97
768                    Acie Earl   1996-97
228                   Adam Keefe   1996-97
154              Adrian Caldwell   1996-97
673               Alan Henderson   1996-97
1059       Aleksandar Djordjevic   1996-97
275                Allan Houston   1996-97
947                Allen Iverson   1996-97

In [27]:
df = pd.read_csv('../nba-stats-csv/player_general_traditional_per_game_data.csv', usecols=['player_id', 'season_id'])

In [28]:
df.head(10)

   player_id season_id
0        471   1996-97
1        920   1996-97
2        243   1996-97
3       1425   1996-97
4        768   1996-97
5        228   1996-97
6        154   1996-97
7        673   1996-97
8       1059   1996-97
9        275   1996-97

    Attributes & Methods

In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('../nba-stats-csv/player_general_traditional_per_game_data.csv')

In [31]:
df.shape

(10633, 21)

In [32]:
df.dtypes

player_id      int64
season_id     object
gp           float64
age          float64
min          float64
fgm          float64
fga          float64
fg_pct       float64
fg3m         float64
fg3a         float64
fg3_pct      float64
ftm          float64
fta          float64
ft_pct       float64
oreb         float64
dreb         float64
ast          float64
tov          float64
stl          float64
blk          float64
pts          float64
dtype: object

    Head, Tail & Sample Methods

In [34]:
df.head()

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
0,471,1996-97,41.0,NaN,13.3,1.1,3.3,0.331,0.2,0.7,...,1.0,1.2,0.875,0.7,1.8,1.4,0.8,0.2,0.3,3.4
1,920,1996-97,83.0,33.0,30.8,2.8,5.8,0.483,0.0,0.2,...,1.5,2.4,0.650,2.7,5.2,0.8,0.9,0.8,0.2,7.2
2,243,1996-97,83.0,24.0,20.4,1.8,4.4,0.411,0.5,1.2,...,1.1,1.3,0.836,0.5,2.2,1.9,1.1,0.9,0.3,5.2
3,1425,1996-97,33.0,25.0,17.8,2.6,4.5,0.574,0.0,0.0,...,1.0,1.5,0.673,1.9,2.5,0.5,1.0,0.5,0.9,6.2
4,768,1996-97,47.0,27.0,11.1,1.4,3.8,0.374,0.0,0.1,...,1.1,1.8,0.643,0.7,1.3,0.4,0.7,0.3,0.6,4.0

In [35]:
df.tail()

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
10628,203897,2018-19,63.0,24.0,34.5,8.4,18.0,0.467,1.9,5.1,...,5.0,6.0,0.832,0.6,4.0,4.5,3.4,1.0,0.4,23.7
10629,1629155,2018-19,1.0,26.0,3.8,0.0,1.0,0.000,0.0,1.0,...,0.0,0.0,0.000,0.0,0.0,0.0,1.0,1.0,0.0,0.0
10630,2585,2018-19,68.0,35.0,12.9,1.3,2.8,0.440,0.0,0.1,...,1.4,1.8,0.782,1.5,2.4,1.3,0.8,0.5,0.3,3.9
10631,1629015,2018-19,6.0,19.0,18.4,2.3,5.7,0.412,1.0,2.7,...,1.0,1.3,0.750,0.5,1.7,1.7,1.0,0.3,0.3,6.7
10632,1627753,2018-19,1.0,23.0,1.0,1.0,1.0,1.000,0.0,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [37]:
df.sample(10)

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
1212,1711,1998-99,12.0,23.0,32.4,4.9,10.8,0.457,1.0,2.6,...,3.0,4.0,0.750,2.8,4.8,0.7,0.8,0.8,1.4,13.8
7544,201937,2012-13,57.0,22.0,29.7,3.2,9.0,0.360,0.5,1.6,...,3.7,4.6,0.799,0.8,3.2,7.3,3.0,2.4,0.1,10.7
1682,417,1999-00,66.0,36.0,18.6,2.5,5.7,0.447,0.2,0.3,...,1.2,1.4,0.880,0.4,1.7,1.7,0.7,0.4,0.2,6.5
3196,1863,2003-04,82.0,28.0,22.4,3.9,9.3,0.419,0.7,2.1,...,1.7,2.0,0.877,0.5,1.2,3.6,1.2,0.6,0.0,10.2
7922,2557,2013-14,61.0,33.0,18.7,2.1,5.4,0.385,0.6,1.8,...,0.3,0.4,0.654,0.4,1.2,2.9,1.1,0.5,0.1,5.0
865,355,1997-98,30.0,32.0,14.9,0.6,1.8,0.352,0.0,0.1,...,0.9,1.3,0.718,0.7,1.6,1.3,1.2,0.6,0.2,2.2
9442,1627868,2016-17,5.0,24.0,8.6,0.0,1.4,0.000,0.0,1.0,...,0.0,0.0,0.000,0.2,1.2,0.0,0.6,0.0,0.0,0.0
5929,956,2009-10,55.0,34.0,23.3,2.4,3.9,0.624,0.0,0.1,...,1.1,1.8,0.604,2.3,4.9,0.6,1.1,0.3,1.4,6.0
4452,2738,2006-07,76.0,23.0,40.3,5.8,13.0,0.447,0.6,2.0,...,5.9,7.3,0.820,1.0,4.7,5.7,3.4,2.0,0.4,18.2
7155,201146,2011-12,30.0,24.0,6.8,1.0,2.7,0.378,0.1,0.3,...,0.5,0.7,0.667,0.4,1.2,0.2,0.5,0.2,0.3,2.6

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10633 entries, 0 to 10632
Data columns (total 21 columns):
player_id    10633 non-null int64
season_id    10633 non-null object
gp           10633 non-null float64
age          10631 non-null float64
min          10633 non-null float64
fgm          10633 non-null float64
fga          10633 non-null float64
fg_pct       10633 non-null float64
fg3m         10633 non-null float64
fg3a         10633 non-null float64
fg3_pct      10633 non-null float64
ftm          10633 non-null float64
fta          10633 non-null float64
ft_pct       10633 non-null float64
oreb         10633 non-null float64
dreb         10633 non-null float64
ast          10633 non-null float64
tov          10633 non-null float64
stl          10633 non-null float64
blk          10633 non-null float64
pts          10633 non-null float64
dtypes: float64(19), int64(1), object(1)
memory usage: 1.7+ MB

In [39]:
df.describe()

,player_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
count,1.063300e+04,10633.000000,10631.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000
mean,1.684222e+05,52.633782,27.235255,20.398853,3.031468,6.798354,0.433469,0.545359,1.562682,0.235817,1.495429,2.003480,0.698231,0.970159,2.589119,1.796398,1.186043,0.646929,0.412602,8.101129
std,3.882780e+05,25.115265,4.344703,10.099563,2.159450,4.594357,0.097001,0.661287,1.743706,0.179157,1.397361,1.769024,0.195102,0.831041,1.789594,1.789208,0.791090,0.449050,0.481362,5.903179
min,2.000000e+00,1.000000,18.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.495000e+03,33.000000,24.000000,12.100000,1.300000,3.200000,0.398000,0.000000,0.100000,0.000000,0.500000,0.800000,0.643000,0.400000,1.300000,0.600000,0.600000,0.300000,0.100000,3.500000
50%,2.501000e+03,59.000000,27.000000,19.800000,2.500000,5.700000,0.437000,0.300000,1.000000,0.298000,1.100000,1.500000,0.745000,0.700000,2.200000,1.200000,1.000000,0.600000,0.300000,6.600000
75%,2.018800e+05,75.000000,30.000000,28.700000,4.300000,9.500000,0.479000,0.900000,2.600000,0.364000,2.000000,2.700000,0.814000,1.400000,3.400000,2.400000,1.600000,0.900000,0.500000,11.500000
max,1.629541e+06,85.000000,44.000000,44.400000,12.200000,27.800000,1.000000,5.100000,13.200000,1.000000,9.700000,13.100000,1.000000,6.800000,11.500000,11.700000,5.700000,2.900000,3.900000,36.100000

In [40]:
df.sum()

player_id                                           1790833752
season_id    1996-971996-971996-971996-971996-971996-971996...
gp                                                      559655
age                                                     289538
min                                                     216901
fgm                                                    32233.6
fga                                                    72286.9
fg_pct                                                 4609.07
fg3m                                                    5798.8
fg3a                                                     16616
fg3_pct                                                2507.45
ftm                                                    15900.9
fta                                                      21303
ft_pct                                                 7424.29
oreb                                                   10315.7
dreb                                                   27530.1
ast                                                    19101.1
tov                                                    12611.2
stl                                                     6878.8
blk                                                     4387.2
pts                                                    86139.3
dtype: object

In [41]:
df.mean()

player_id    168422.246967
gp               52.633782
age              27.235255
min              20.398853
fgm               3.031468
fga               6.798354
fg_pct            0.433469
fg3m              0.545359
fg3a              1.562682
fg3_pct           0.235817
ftm               1.495429
fta               2.003480
ft_pct            0.698231
oreb              0.970159
dreb              2.589119
ast               1.796398
tov               1.186043
stl               0.646929
blk               0.412602
pts               8.101129
dtype: float64

In [42]:
df.corr()

,player_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
player_id,1.000000,-0.117966,-0.327878,-0.138399,-0.088626,-0.091591,-0.013139,0.031839,0.047200,0.053466,-0.117921,-0.121414,-0.070711,-0.104069,-0.076786,-0.073226,-0.128919,-0.094299,-0.058878,-0.089121
gp,-0.117966,1.000000,0.031932,0.661571,0.558798,0.537544,0.323238,0.338970,0.326380,0.252203,0.436210,0.432054,0.401575,0.350474,0.499179,0.391819,0.473280,0.482834,0.293747,0.550499
age,-0.327878,0.031932,1.000000,0.068160,-0.010243,-0.005897,-0.011013,0.060671,0.048133,0.017836,-0.026634,-0.045631,0.080744,-0.034389,0.048336,0.079816,-0.013969,0.023266,-0.036354,-0.006939
min,-0.138399,0.661571,0.068160,1.000000,0.898696,0.902499,0.265402,0.512537,0.521027,0.286004,0.763601,0.759884,0.391170,0.468688,0.741098,0.672098,0.821540,0.766862,0.381113,0.896016
fgm,-0.088626,0.558798,-0.010243,0.898696,1.000000,0.981887,0.306843,0.494028,0.500119,0.269023,0.856325,0.848208,0.355666,0.440062,0.712868,0.627075,0.835310,0.681252,0.370746,0.989830
fga,-0.091591,0.537544,-0.005897,0.902499,0.981887,1.000000,0.188154,0.569256,0.588161,0.317116,0.846021,0.825272,0.378002,0.353804,0.653903,0.665869,0.844743,0.707331,0.291224,0.982662
fg_pct,-0.013139,0.323238,-0.011013,0.265402,0.306843,0.188154,1.000000,-0.050848,-0.097441,-0.027911,0.222654,0.258393,0.158601,0.401689,0.362039,0.052194,0.188453,0.131418,0.346540,0.271633
fg3m,0.031839,0.338970,0.060671,0.512537,0.494028,0.569256,-0.050848,1.000000,0.984159,0.589520,0.341470,0.268837,0.352018,-0.234495,0.132096,0.480875,0.386329,0.456960,-0.156865,0.554222
fg3a,0.047200,0.326380,0.048133,0.521027,0.500119,0.588161,-0.097441,0.984159,1.000000,0.567381,0.356412,0.284632,0.352993,-0.244986,0.131054,0.507521,0.410626,0.482190,-0.167452,0.560556
fg3_pct,0.053466,0.252203,0.017836,0.286004,0.269023,0.317116,-0.027911,0.589520,0.567381,1.000000,0.160462,0.099531,0.329966,-0.274225,-0.007294,0.334241,0.210239,0.295806,-0.212880,0.300943
ftm,-0.117921,0.436210,-0.026634,0.763601,0.856325,0.846021,0.222654,0.341470,0.356412,0.160462,1.000000,0.980969,0.356486,0.406706,0.626931,0.569923,0.804884,0.599211,0.335838,0.901634
fta,-0.121414,0.432054,-0.045631,0.759884,0.848208,0.825272,0.258393,0.268837,0.284632,0.099531,0.980969,1.000000,0.277477,0.491190,0.676289,0.532583,0.804858,0.587889,0.411419,0.883174
ft_pct,-0.070711,0.401575,0.080744,0.391170,0.355666,0.378002,0.158601,0.352018,0.352993,0.329966,0.356486,0.277477,1.000000,0.001588,0.181000,0.315181,0.304059,0.299414,-0.009240,0.384167
oreb,-0.104069,0.350474,-0.034389,0.468688,0.440062,0.353804,0.401689,-0.234495,-0.244986,-0.274225,0.406706,0.491190,0.001588,1.000000,0.779032,-0.011059,0.349736,0.222488,0.683148,0.392206
dreb,-0.076786,0.499179,0.048336,0.741098,0.712868,0.653903,0.362039,0.132096,0.131054,-0.007294,0.626931,0.676289,0.181000,0.779032,1.000000,0.306302,0.609042,0.472102,0.663878,0.685015
ast,-0.073226,0.391819,0.079816,0.672098,0.627075,0.665869,0.052194,0.480875,0.507521,0.334241,0.569923,0.532583,0.315181,-0.011059,0.306302,1.000000,0.778715,0.709135,-0.020056,0.647640
tov,-0.128919,0.473280,-0.013969,0.821540,0.835310,0.844743,0.188453,0.386329,0.410626,0.210239,0.804884,0.804858,0.304059,0.349736,0.609042,0.778715,1.000000,0.710621,0.291595,0.845105
stl,-0.094299,0.482834,0.023266,0.766862,0.681252,0.707331,0.131418,0.456960,0.482190,0.295806,0.599211,0.587889,0.299414,0.222488,0.472102,0.709135,0.710621,1.000000,0.164976,0.691502
blk,-0.058878,0.293747,-0.036354,0.381113,0.370746,0.291224,0.346540,-0.156865,-0.167452,-0.212880,0.335838,0.411419,-0.009240,0.683148,0.663878,-0.020056,0.291595,0.164976,1.000000,0.333186
pts,-0.089121,0.550499,-0.006939,0.896016,0.989830,0.982662,0.271633,0.554222,0.560556,0.300943,0.901634,0.883174,0.384167,0.392206,0.685015,0.647640,0.845105,0.691502,0.333186,1.000000

In [43]:
df.count()

player_id    10633
season_id    10633
gp           10633
age          10631
min          10633
fgm          10633
fga          10633
fg_pct       10633
fg3m         10633
fg3a         10633
fg3_pct      10633
ftm          10633
fta          10633
ft_pct       10633
oreb         10633
dreb         10633
ast          10633
tov          10633
stl          10633
blk          10633
pts          10633
dtype: int64

In [44]:
df.max()

player_id    1629541
season_id    2018-19
gp                85
age               44
min             44.4
fgm             12.2
fga             27.8
fg_pct             1
fg3m             5.1
fg3a            13.2
fg3_pct            1
ftm              9.7
fta             13.1
ft_pct             1
oreb             6.8
dreb            11.5
ast             11.7
tov              5.7
stl              2.9
blk              3.9
pts             36.1
dtype: object

In [45]:
df.min()

player_id          2
season_id    1996-97
gp                 1
age               18
min              0.1
fgm                0
fga                0
fg_pct             0
fg3m               0
fg3a               0
fg3_pct            0
ftm                0
fta                0
ft_pct             0
oreb               0
dreb               0
ast                0
tov                0
stl                0
blk                0
pts                0
dtype: object

In [46]:
df.median()

player_id    2501.000
gp             59.000
age            27.000
min            19.800
fgm             2.500
fga             5.700
fg_pct          0.437
fg3m            0.300
fg3a            1.000
fg3_pct         0.298
ftm             1.100
fta             1.500
ft_pct          0.745
oreb            0.700
dreb            2.200
ast             1.200
tov             1.000
stl             0.600
blk             0.300
pts             6.600
dtype: float64

In [47]:
df.std()

player_id    388278.044987
gp               25.115265
age               4.344703
min              10.099563
fgm               2.159450
fga               4.594357
fg_pct            0.097001
fg3m              0.661287
fg3a              1.743706
fg3_pct           0.179157
ftm               1.397361
fta               1.769024
ft_pct            0.195102
oreb              0.831041
dreb              1.789594
ast               1.789208
tov               0.791090
stl               0.449050
blk               0.481362
pts               5.903179
dtype: float64